# Directorios de compilación
/target/
/build/

# Archivos de configuración locales
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Dependencias descargadas
/.gradle/
/.gradle/
/mvn/
!gradle-wrapper.jar   # se mantiene el wrapper
node_modules/
**/node_modules/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env
*.env

# Logs adicionales
*.out
*.tmp

# Configuración de IntelliJ y Eclipse
.classpath
.project
.settings/
bin/

# Archivos de cobertura y reportes
/coverage/
dist/
**/dist/
/jacoco.exec
/test-output/
/surefire-reports/

# Archivos de Docker y contenedores (si aplican)
*.pid
